<div class="sim-left-menu">
    <div class="sim-left-menu-item">
        <a href="/">Welcome</a>
    </div>
    <div class="sim-left-menu-item">
        <a href="/introduction.html">Introduction</a>
    </div>
    <div class="sim-left-menu-item">
        <a href="/quickstart.html">Quickstart</a>
    </div>
    <div class="sim-left-menu-item">
        <a href="/getting-started.html">Getting Started</a>
    </div>
    <div class="sim-left-menu-item">
        <a href="/overview.html">Overview</a>
    </div>
    <div class="sim-left-menu-item">
        <a href="/application.html">Application</a>
    </div>
    <div class="sim-left-menu-item">
        <a href="/view.html">View</a>
    </div>
    <div class="sim-left-menu-item">
        <a href="/component.html">Component</a>
    </div>
    <div class="sim-left-menu-item">
        <a href="/utilities.html">Utilities</a>
    </div>
</div>
